<section class="our-mentors">
    <div class="container our-mentors-container">
        <h3 class="title ">Our <span class="our-mentors-span"> Mentors</span></h3>
        <ul class="our-list">
            <li class="our-list">
                <div class="our-sabtitle">

                    <picture>
                        <source
                            srcset="../img/our-mentors/Emilia-des-1x.jpg 1x, ../img/our-mentors/Emilia-des-2x.jpg 2x"
                            media="(min-width:1280px)">

                        <source
                            srcset="../img/our-mentors/Emilia-tab-1x.jpg 1x, ../img/our-mentors/Emilia-tab-2x.jpg 2x "
                            media="(min-width:768px)">

                        <source srcset="../img/our-mentors/Emilia-1x.jpg 1x, ../img/our-mentors/Emilia-2x.jpg 2x"
                            media="( max-width: 375px)">

                        <img src="../img/our-mentors/Emilia-tab-1x.jpg" class="foto" alt="Emilia Smith" width="180">
                    </picture>
                    <h3 class="name-sabtitle">Emilia Smith</h3>
                    <p class="our-text"> 1.5 years of experience</p>
                </div>
            </li>

            <li class="our-list">
                <div class="our-sabtitle">

                    <picture>
                        <source srcset="../img/our-mentors/Alex-des-1x.jpg 1x, ../img/our-mentors/Alex-des-1x.jpg 2x"
                            media="(min-width:1280px)">

                        <source srcset="../img/our-mentors/Alex-tab-1x.jpg 1x, ../img/our-mentors/Alex-tab-2x.jpg 2x "
                            media="(min-width:768px)">

                        <source srcset="../img/our-mentors/Alex-1x.jpg 1x, ../img/our-mentors/Alex-1x.jpg 2x"
                            media="( max-width: 375px)">

                        <img src="../img/our-mentors/Alex-tab-1x.jpg" class="foto" alt="Alex Lebedev" width="180">
                    </picture>
                    <h3 class="name-sabtitle">Alex Lebedev</h3>
                    <p class="our-text"> 3.5 years of experience</p>
                </div>
            </li>

            <li class="our-list">
                <div class="our-sabtitle">

                    <picture>
                        <source srcset="../img/our-mentors/Mia-des-1x.jpg 1x, ../img/our-mentors/Mia-des-2x.jpg 2x"
                            media="(min-width:1280px)">

                        <source srcset="../img/our-mentors/Mia-tab-1x.jpg 1x, ../img/our-mentors/Mia-tab-2x.jpg. 2x"
                            media="(min-width:768px)">

                        <source srcset="../img/our-mentors/Mia-1x.jpg 1x, ../img/our-mentors/Mia-2x.jpg  2x"
                            media="( max-width: 375px)">

                        <img src="../img/our-mentors/Mia-tab-1x.jpg" class="foto" alt="Mia Dubrovska" width="180">
                    </picture>
                    <h3 class="name-sabtitle">Mia Dubrovska</h3>
                    <p class="our-text"> 2.0 years of experience</p>
                </div>
            </li>

            <li class="our-list">
                <div class="our-sabtitle">

                    <picture>
                        <source srcset="../img/our-mentors/Eliot-des-1x.jpg 1x, ../img/our-mentors/Eliot-des-2x.jpg 2x"
                            media="(min-width:1280px)">

                        <source srcset="../img/our-mentors/Eliot-tab-1x.jpg 1x, ../img/our-mentors/Eliot-tab-2x.jpg 2x"
                            media="(min-width:768px)">

                        <source srcset="../img/our-mentors/Eliot-1x.jpg 1x, ../img/our-mentors/Eliot-1x.jpg 2x"
                            media="( max-width: 375px)">

                        <img src="../img/our-mentors/Eliot-tab-1x.jpg" class="foto" alt="Eliot Kovalev" width="180">
                    </picture>
                    <h3 class="name-sabtitle">Eliot Kovalev</h3>
                    <p class="our-text"> 4.0 years of experience</p>
                </div>
            </li>
        </ul>
    </div>
</section>