<section class="sign-up-section">
  <div class="container sign-up-cont">
    <div class="main-sign-up-container">
      <h2 id="sign-up" class="sign-up-title">
        <span class="sign">Sign</span> <span class="up">Up</span>
      </h2>
      <p class="sign-up-text">
        Please use the form below to contact us. Enter your name, email, and
        message and we'll get back to you shortly.
      </p>
      <form class="sign-up-form" action="process_form.php" method="post">
        <div class="form-field">
          <input
            type="text"
            id="name"
            name="name"
            class="sign-up-input"
            pattern="[A-Za-z\s]+"
            required
            placeholder="Enter your name"
            autocomplete="name"
          />
        </div>

        <div class="form-field">
          <input
            type="email"
            id="email"
            name="email"
            class="sign-up-input"
            required
            placeholder="Enter your email"
            autocomplete="email"
          />
        </div>

        <div class="form-field">
          <textarea
            id="message"
            name="message"
            class="sign-up-textarea"
            required
            placeholder="Message"
          ></textarea>
        </div>

        <div class="submit-button-container">
          <button class="sign-up-button" type="submit">SEND</button>
        </div>
        <p class="sign-up-under-btn-txt">
          By clicking on “Send” button, you agree to our
          <a class="sign-up-privacy-policy" href="#">Privacy Policy</a>,<br />
          and allow Promodo to use this information for marketing purposes.
        </p>
      </form>
    </div>

    <div class="sign-up-image-container">
      <div class="rectangle-first">
        <picture>
          <source
            srcset="
              ./img/sign-up-image/objectiveonexbig.png 1x,
              ./img/sign-up-image/objectivetwoxbig.png 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./img/sign-up-image/objectiveonex.png 1x,
              ./img/sign-up-image/objectivetwox.png 2x
            "
            media="(min-width: 1280px)"
          />
          <img
            class="sign-up-first-image"
            srcset="./img/sign-up-image/objectiveonexbig.png 1x"
            src="./img/sign-up-image/objectiveonex.png"
            width="150"
            height="142"
            alt="image1"
          />
        </picture>
      </div>
      <div class="rectangle-second">
        <picture>
          <source
            srcset="
              ./img/sign-up-image/cameraonexbig.png 1x,
              ./img/sign-up-image/cameratwoxbig.png 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./img/sign-up-image/cameraonex.png 1x,
              ./img/sign-up-image/cameratwox.png 2x
            "
            media="(min-width: 1280px)"
          />
          <img
            class="sign-up-second-image"
            srcset="./img/sign-up-image/cameraonexbig.png 1x"
            src="./img/sign-up-image/cameraonex.png"
            width="240"
            height="296"
            alt="image2"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
