.advertisment{
border-top: 1px solid rgba(255, 255, 255, 0.20);
border-bottom: 1px solid rgba(255, 255, 255, 0.20);
margin-bottom: 150px;
    
}
.adv-container{
overflow: hidden;
}
.advertisment-title{
    color: #BEA69E;
        font-size: 40px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.25;
        letter-spacing: -0.02em;
        text-transform: uppercase;
        min-width: 100%;
        flex-shrink: 0;
            white-space: nowrap;
            animation-name: advertismentTitle;
            animation-duration: 5s;
            animation-timing-function: ease-in-out;
            animation-iteration-count: infinite;
}
.advertisment-inner{
    display: flex;
    width: 100%;
}
.advertisment-title > span{
    color: #FFF;
}
@keyframes advertismentTitle{
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}