footer {
}

.footer-container {
  background-color: #121212;
  /* padding-bottom: 20px; */
  background-image: url(../img/footer/background.png);
  background-repeat: no-repeat;
}

.container {
  padding-bottom: 20px;
}

.logo-container {
  margin-bottom: 16px;
}

address {
  margin-bottom: 40px;
}

.footer-logo {
  margin-bottom: 16px;
}
.address-phone {
  color: #fff;
  font-family: DM Sans;
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
  text-transform: uppercase;
}
.address-place {
  color: #fff;
  font-family: DM Sans;
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
}
.footer-links-container {
  display: flex;
  gap: 45px;
  margin-bottom: 75px;
}
.footer-social-links {
}
.footer-links-item:not(:last-child) {
  margin-bottom: 14px;
}
.footer-social-links-link {
  color: #fff;
  font-family: DM Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  transition: color 0.3s;
}
.footer-navigation {
}
.footer-navigation-item:not(:last-child) {
  margin-bottom: 14px;
}
.footer-navigation-link {
  color: #fff;
  font-family: DM Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  transition: color 0.3s;
}

.footer-social-links-link:hover,
.footer-social-links-link:focus,
.footer-navigation-link:hover,
.footer-navigation-link:focus {
  color:#BEA69E;
}

.footer-form-container {
  margin-bottom: 40px;
}
.footer-form {
  display: flex;
}
.footer-form-label {
}
.footer-form-input {
  width: 267px;
  height: 60px;
  border-radius: 12px;
  background-color: #fff;
  margin-right: 8px;
}
.footer-form-btn {
  border: none;
  padding: 18px 16px;
  border-radius: 12px;
  background: #1d1d1d;
  color: #fff;
}
.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-privacy-links {
}
.footer-privacy-links-list {
}
.footer-privacy-links-item {
}
.footer-privacy-links-link {
  max-width: 147px;
  color: #fff;
  font-family: DM Sans;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.3;
}
.footer-bottom-text {
}
.footer-bottom-text-item {
  max-width: 116px;
  color: #fff;
  font-family: DM Sans;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.3;
}

@media screen and (min-width: 768px) {
  .container {
    padding-bottom: 25px;
  }

  .footer-content {
    display: flex;
  }

  .footer-form-input {
    width: 178px;
  }

  .footer-social-links {
  }

  .footer-links-container {
    gap: 25px;
    margin-right: 79px;
    margin-left: 58px;
  }
}

@media screen and (min-width: 1280px) {
  .footer-links-container {
    gap: 105px;
    margin-right: 193px;
    margin-bottom: 50px;
    margin-left: 240px;
  }

  .footer-social-links {
  }
}

@media screen and (min-width: 1440px) {
  .footer-links-container {
    gap: 105px;
    margin-right: 193px;
    margin-bottom: 50px;
    margin-left: 340px;
  }

  .footer-social-links {
  }

  .footer-form-input {
    width: 216px;
  }
}
