.header {
  max-width: 375px;
  padding: 20px 20px;
  margin: 0 auto;
}
.header-container {
  width: 335px;
  height: 50px;
  height: 50px;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: #121212;
  display: flex;
  padding: 0 15px;
  align-items: center;
}
.logo-header {
  font-size: 16px;
  color: #ffffff;
}

.icons-header {
  display: flex;
  flex-direction: row;
  gap: 14px;
  margin-left: auto;
  cursor: pointer;
}
.info-icons-cam {
  fill: #bea69e66;
}
.info-icons-cam:hover {
  fill: #bea69e;
}
.cam-header {
  width: 100%;
  background-color: #1d1d1d;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-button {
  display: none;
}
.header-list {
  display: none;
}
.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(18, 18, 18, 0.4);
  color: #121212;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mob-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 218px;
  height: 812px;
  background-color: #bea69e;
  overflow: auto;
  /* opacity: 0;
  visibility: hidden; */
  padding: 20px 0;
}

.heder-close-btn {
  display: block;
  margin-left: auto;
  margin-bottom: 128px;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  margin-right: 20px;
}
.heder-btn-icon {
  display: inline-block;
  stroke: currentColor;
  fill: currentColor;
  align-items: center;
  color: #121212;
  cursor: pointer;
}
.header-mob-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left: 20px;
}
.header-mob-item {
  color: #121212;
  font-family: DM Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
}
.header-mob-item:hover {
  font-weight: 700;
}
.mob-item-link {
  text-decoration: none;
  cursor: pointer;
}

.mob-menu-img {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .header {
    max-width: 768px;
    display: flex;
    padding: 20px 32px 40px;
    gap: 14px;
  }
  .header-container {
    width: 504px;
    height: 60px;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: #121212;
    display: flex;
    padding: 22px 16px 22px 20px;
    align-items: center;
  }
  .info-icons-cam {
    display: none;
  }
  .cam-header {
    display: none;
  }
  .info-icons-nav {
    display: block;
    margin-left: auto;
  }
  .header-button {
    width: 186px;
    height: 60px;
    padding: 16px 58px;
    display: inline-flex;
    justify-content: center;
    text-align: center;
    border-radius: 12px;
    background: #fff;
    color: #121212;
    font-family: DM Sans;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.56;
    text-transform: uppercase;
    cursor: pointer;
  }
  .header-button:hover {
    background-color: #1d1d1d;
    color: #bea69e;
  }
  .header-list {
    display: none;
  }
  .mob-menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 480px;
    height: 1024px;
    background-color: #bea69e;
    overflow: auto;
    pointer-events: none;
    padding: 20px 0;
  }
  .heder-close-btn {
    margin-bottom: 172px;
    width: 40px;
    height: 40px;
  }
  .header-mob-list {
    margin-bottom: 150px;
    padding-left: 64px;
  }
  .item-link {
    text-decoration: none;
  }
  .mob-menu-img {
    width: 100%;
  }
}
@media screen and (min-width: 1280px) {
  .header {
    max-width: 1280px;
    display: flex;
    padding: 20px 100px 31px;
  }
  .header-container {
    width: 822px;
    height: 60px;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: #121212;
    display: flex;
    padding: 21px 40px 21px 30px;
    align-items: center;
    margin-right: auto;
  }
  .info-icons-nav {
    display: none;
  }
  .header-list {
    display: flex;
    gap: 40px;
    cursor: pointer;
  }

  .header-item {
    color: #fff;
    font-family: DM Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
  }
  .header-item:hover {
    color: #bea69e;
  }

  .header-button {
    width: 238px;
    height: 60px;
    padding: 16px 84px;
    display: inline-flex;
    justify-content: center;
    text-align: center;
    border-radius: 12px;
    background: #fff;
    color: #121212;
    font-family: DM Sans;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.56;
    text-transform: uppercase;
    cursor: pointer;
  }
  .mob-menu {
    display: none;
  }
}
@media screen and (min-width: 1440px) {
  .header {
    max-width: 1440px;
    display: flex;
    padding: 20px 100px 31px;
  }
  .header-container {
    width: 982px;
    height: 60px;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: #121212;
    display: flex;
    padding: 0 15px;
    align-items: center;
    padding: 21px 50px 21px 50px;
  }

  .mob-menu {
    display: none;
  }
}
