
.our-mentors {
    padding-top: 40px;
    padding-bottom: 40px;
 }
.our-mentors-span {
    color: #BEA69E;
}
.title {
    color: #FFF;
    font-size: 28px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.04em;
    margin-bottom: 40px;
}

.our-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

.foto {
    border-radius: 50%;
}

.name-sabtitle {
    margin-top: 16px;
    text-align: center;
    color: #FFF;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 4px;
}

.our-text {
    color: rgba(255, 255, 255, 0.50);
    text-align: center;
    font-size: 12px;
    line-height: 1.3;
    letter-spacing: -0.02em;
}

@media screen and (min-width:768px) {
    .our-mentors {
        padding-top: 50px;
        padding-bottom: 50px;
    }
 
    .title {
        font-size: 48px;
        line-height: 1.125;
        letter-spacing: -0.04em;
        margin-bottom: 50px;
    }

    .our-list {
        gap: 93px 100px;
    }

    .name-sabtitle {
        font-size: 28px;
        line-height: 1.14;
    }

    .our-text {
        font-size: 14px;
        line-height: 1.28;
        letter-spacing: -0.02em;
    }
} 

 @media screen and (min-width:1280px) {
    .our-mentors {
        padding-top: 75px;
        padding-bottom: 75px;
    }

}  

 @media screen and (min-width:1440px) {
   
} 