/* Reset styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}


ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body{
  color:  #FFF;
  background-color: black;
    font-family: DM Sans, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25;
    letter-spacing: -0.02em;
}
.container{
  padding: 40px 20px;
  margin: 0 auto;
  max-width: 375px;
}

@media screen and (min-width:768px) {
  .container {
    max-width: 768px;
    padding: 50px 32px;
  }
}

@media screen and (min-width:1280px) {
  .container {
    max-width: 1280px;
    padding: 75px 100px;
  }
}

@media screen and (min-width:1440px) {
  .container {
    max-width: 1440px;
    padding: 75px 100px;
  }
}
